.chatLuong{
    margin-top: 30px;
    text-align: left;
    font-size: 13px;
    padding: 0px 35px 30px 75px;
    .title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 80px;
    }
    ul{
        li{
            padding: 2px 0 10px 25px;
        }
        padding: 5px 0 10px 25px;
    }
    table{
        border: 0.01px thistle;
        text-align: center;
        width: 100%;
    
            font-weight: normal;
        
       
    }
}